
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.  ') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Document</title>
</head>
<body>
    <center> <img src="{{ url_for('static', filename='img/niunamenos.gif') }}" alt="" class="d-block w-25"></center>
    <hr>
    <div style="background-color: #F4BEEE;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          {% if (session['tipo']==1) or (session['tipo']==3) %}
            <a class="navbar-brand" href="{{ url_for('admin_abre') }}">Inicio</a>
          
              
          {%endif%}
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                   
                
                  <li><a class="dropdown-item" href="{{ url_for('loginadmin') }}">Home</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('ad_cita') }}">Agendar</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('citas') }}">Gestionar citas</a></li>
                                   
                   <li><a class="dropdown-item" href="{{ url_for('medicos') }}">Psicologos</a></li>
                    
                    <li><a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
                    
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
        <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
          <div class="row">
            <div class="col-lg-4  col-md-4  col-ms-4  col-4 ">
          <button  type="button" class="btn btn-outline-info ">Agendar Cita<br>
            <a href="{{ url_for('ad_cita') }}" >  <img  src="{{ url_for('static', filename='img/agendar.png') }}" style="width:50%;"></a>
          </button>
          </div>
          <div class="col-lg-4  col-md-4  col-ms-4  col-4 ">
          <button  type="button" class="btn btn-outline-info ">Gestionar Citas<br>
            <a href="{{ url_for('consulta') }}" >  <img  src="{{ url_for('static', filename='img/gestionar.png') }}" style="width: 50%;"></a>
          </button>
          </div>
          <div class="col-lg-4  col-md-4  col-ms-4  col-4 ">
          <button  href="{{ url_for('informacion') }}"  type="button" class="btn btn-outline-info  ">Información<br>
            <a href="{{ url_for('medicos') }}" >  <img  src="{{ url_for('static', filename='img/psicologoicono.png') }}" style="width: 50%;"></a>
          
          </button>
          </div>
        </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
      </div>

      
</body>
</html>