<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js.map') }}"></script>
  <title>Agendar cita</title>
</head>

<body>

  <p class="text-uppercase display-6 text-center" style="font-family: Courier New; ">Agenda tu cita</p>
    <hr>
  
  <div style="background-color: #F4BEEE;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        
          <a class="navbar-brand" href="{{ url_for('index') }}">Inicio</a>
                    
        
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <li><a class="dropdown-item" href="{{ url_for('admin') }}">Home</a></li>
              <li><a class="dropdown-item" href="{{ url_for('agcita') }}">Agendar</a></li>
              <li><a class="dropdown-item" href="{{ url_for('citas') }}">Gestionar citas</a></li>
                             
             <li><a class="dropdown-item" href="{{ url_for('medicos') }}">Psicologos</a></li>
             <li><a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
                
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
      <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
        <form action="/guardar_detalles"  method="POST">
          <label for="inputid">Codigo del paciente</label>
          <input type="text" class="form-control" name="txtid" value="{{ session['id'] }}"  required="" readonly/>
          <label for="inputEmail4">Nombres</label>
          <input type="text" class="form-control" name="txtnombre" value="{{ session['nombre'] }}"  required="" readonly/>

          <label for="Apellido">Apellidos</label>
          <input type="text" class="form-control" name="txtapellido" value="{{ session['apellido'] }}" required="" readonly/>
      
      
          <label for="inputAddress2">Telefono</label>
          <input type="text" class="form-control" name="contact_phone"  required="" value="{{ session['telefono'] }}" readonly/>
        
          <label for="inputEmail4">Psicologo</label>
          <select class="form-select" name="id_doctor" >
            <option value="0" selected>Seleccionar</option>
            {%for detalle in detalles %}
            <option value="{{detalles.0}}">{{detalles.1}} {{detalles.2}}</option>
            {% endfor %}

          </select>
          
          <label>Fecha y Hora</label>
          <input type="datetime-local" class="form-control" name="txtfecha"  min="2022-07-07" max="2022-12-31" required="" />
      
      
      
      
          
          <br>
            
          <center>              <input type="submit" name="registrate" value="Ingresar">
          </center>
        </form>
        <br>
     
      </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  
    
  </div>
  </div>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</footer>

</html>