<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js.map') }}"></script>
  <title>Información</title>
</head>

<body>
    <p class="text-uppercase display-6 text-center" style="font-family: Courier New; ">VIOLENCIA CONTRA LA MUJER</p>
    <hr>
    <div style="background-color: #F4BEEE;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          {% if (session['tipo']==1) or (session['tipo']==3) %}
            <a class="navbar-brand" href="{{ url_for('index') }}">Inicio</a>
          {%else%}
              <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
          {%endif%}
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if (session['tipo']==1) or(session['tipo']==2) or (session['tipo']==3) %}
                      {{ session['usuario'] }}
                    {%else%}
                      More
                    {%endif%}
                    </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  {% if (session['tipo']==1) %}
                    <li><a class="dropdown-item" href="{{ url_for('agcita') }}">Agendar cita</a></li>
                    {%endif%}
                    {% if (session['tipo']==3) %}
                    <li><a class="dropdown-item" href="{{ url_for('agcita') }}">Medicos</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('citas') }}">Gestionar citas</a></li>
                    {%endif%}
                    {% if (session['tipo']!=3) and (session['tipo']!=2) and (session['tipo']!=1) %}
                    <li><a class="dropdown-item" href="{{ url_for('p_register') }}">Registrate</a></li>
                    {%endif%}
                    <li><a class="dropdown-item" href="{{ url_for('p_login') }}">Login</a></li>
                    {% if (session['tipo']==1) or (session['tipo']==3) %}
                    <li><a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
                    {%endif%}
                </ul>
              </li>
            </ul>
          </div>
        </div>
         </nav> 
         <div class="container shadow-lg p-3 mb-5 bg-white rounded bg">
            <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-ms-6 col-6   ">
                        <img src="{{ url_for('static', filename='img/juntassomos.gif') }}" class="img-fluid ">
                    
                        </div>
                        <div class="col-lg-6 col-md-6 col-ms-6 col-6  text-right  ">
                  <b class="lead display-6"style="font-family: Courier New; "><b>¿QUÉ ES LA VIOLENCIA CONTRA LA MUJER?<br></b></b>
                <p class="lead" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">La violencia no es cosa del pasado y no se limita al ataque físico, sino que también comprende la violencia verbal y la indiferencia. Es difícil precisar el número de víctimas porque esta situación no siempre se denuncia ni se hace pública pero se estima que el año pasado fueron más de 30.000 los casos de violencia de género en España.
                    El maltrato físico es muy evidente porque conlleva una acción violenta que provoca lesiones. Sin embargo, el maltrato psicológico es mucho más sutil, tanto, que suele pasar inadvertido para las personas que rodean a la víctima e incluso para quien recibe las humillaciones o la indiferencia, sobre todo un tipo especial de maltrato llamado luz de gas.
                </p>
                       <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            ¿Qué es la sororidad?
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Sororidad</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    <iframe class="img-fluid" src="https://www.youtube.com/embed/exByexe2uII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
                  </div><br>
                    ​​</p>
                        </div>
                        </div>
                        <hr>
        <h1 class="text-center">CONOZCAMOS MÁS SOBRE EL TEMA</h1>
        <hr>
        <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-ms-6 col-6   ">
                    <img src="{{ url_for('static', filename='img/causas.gif') }}" class="img-fluid ">
                
                    </div>
                    <div class="col-lg-6 col-md-6 col-ms-6 col-6  text-right  ">
                       <center> <b class="display-6 ">CAUSAS</b></center>
              <p class="lead "><br>
                Cualquier persona puede ser víctima del maltrato, tanto físico como psicológico. Normalmente este surge como resultado de una intensa frustración por parte del maltratador, que la descarga sobre su víctima. A menudo los maltratadores también tienen problemas para gestionar sus emociones y poseen una autoestima baja, que intentan compensar desvalorizando al otro.


                En muchos casos el maltratador psicológico se ha criado en un ambiente donde la violencia estaba permitida, por lo que esa es la única manera de relacionarse que conoce. De hecho, algunos incluso han sido víctimas del maltrato durante su infancia.Cuando se trata de la violencia psicológica, la víctima ni siquiera es consciente de su posición, ya sea porque excusa el comportamiento del maltratador o porque considera que este es normal o que lo merece.
                <h1></h1>
              </div><br>
                ​​</p>
                    </div>
                    </div>
                    <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-ms-6 col-6   ">
                                <img src="{{ url_for('static', filename='img/libre.gif') }}" class="w-100 ">
                            
                                </div>
                                <div class="col-lg-6 col-md-6 col-ms-6 col-6  text-right  ">
                                   <center> <b class="display-6 ">SECUELAS</b></center>
                          <p class="lead "><br>
                            <ol>
                                <li>Baja autoestima y daños en la autoimagen</li>
                                <li>Estrés crónico y ansiedad</li>
                                <li>Abuso de sustancias, como puede ser el alcohol y las drogas, para escapar de la realidad</li>
                                <li>Alteraciones del sueño</li>
                                <li>Aislamiento social y profunda soledad</li>
                                <li>Depresión y desesperanza</li>
                                <li>Miedo e inestabilidad emocional</li>
                                <li>Dependencia emocional del maltratador</li>
                            </ol>
                          </div><br>
                            ​​</p>
                                </div>
                                </div>
         <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
          <div class="row">
           <div class="col-lg-6 col-md-6 col-ms-6 col-6   ">
        <img src="{{ url_for('static', filename='img/escala.gif') }}" class="img-fluid ">
        </div>                                   
     <div class="col-lg-6 col-md-6 col-ms-6 col-6  text-right  ">
     <center> <b class="display-6 ">OBJETIVOS DE ASISTENCIA PSICOLOGICA</b></center>
         <p class="lead "><br>
        Reconodiendo la importancia de la asistencia psicologica pdrás:
        <ol>
            <li>Salir del círculo vicioso del maltrato emocional superando el malestar emocional que este genera
            <li>Mejorar tu autoestima y recuperar la confianza en ti</li>
            <li>Potenciar tus habilidades de resolución de conflictos</li>
            <li>Superar las experiencias traumáticas producidas por la violencia psicológica, despojándolas de su carga afectiva.</li>
        </ol>
        <h1></h1>
     </div><br>
     ​​</p>
     </div>
     </div>             
        </div>
         </div>
        </div>
         </div>
       
    
</body>
</html>