<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js.map') }}"></script>
  <title>Home</title>
  <style>
    .botones-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    .boton {
      margin-left: 30px;
      /* margin-right: 12px; */
      width: 300px;
      height: 200px;
      background-color: #1e90ff;
      color: #fff;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .boton:hover {
      background-color: #187bcd;
    }

    .boton:active {
      border: 2px solid #fff;
    }
  </style>
</head>

<body>
  <center> <img src="{{ url_for('static', filename='img/niunamenos.gif') }}" alt="" class="d-block w-25"></center>
  <hr>
  <div style="background-color: #F4BEEE;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">

        <a class="navbar-brand" href="{{ url_for('index') }}">Inicio</a>




        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">


              {% if (session['tipo']==3) %}
            <li><a class="dropdown-item" href="{{ url_for('medicos') }}">Psicologos</a></li>
            <li><a class="dropdown-item" href="{{ url_for('agcita') }}">Agendar</a></li>
            <li><a class="dropdown-item" href="{{ url_for('mis_citas') }}">Mis Citas</a></li>

            <li><a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
            {% endif %}
          </ul>
          </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
      <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
        <div class="botones-container">
          <button class="boton boton1" id="1">Mi apetito ha cambiado: se ha reducido o aumentado.</button>
          <button class="boton boton2" id="2">Presento reacciones involuntarias ante muestras de afecto.</button>
          <button class="boton boton3" id="3">Siento miedo e inseguridad a1 estar en presencia de esa persona</button>
          <button class="boton boton4" id="4">Te degrada continuamente.</button>
          <button class="boton boton5" id="5">Tengo ganas de llorar y no puedo controlar el llanto.</button>
          <button class="boton boton6" id="6">Te culpa de todo 10 que sucede
            aunque sus razones, sean incoherentes.</button>
        </div>

        <br>
        <center> <input type="button" class="btn btn-outline-primary w-25" data-bs-toggle="modal" value="Enviar"
            data-bs-target="#exampleModal"></center>
      </div>

      <!-- Modal -->
      <div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nesecitas un psicologo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <h2>
                  NECESITAS <br>
                  UNA CONSULTA<br>
                  CON ALGUNOS DE<br>
                  NUESTROS MEDICOS <br><br><br>
                </h2>
              </div>
              <p id="counter">Seleccionaste 0 botones, de 6. <br>Padeces de violencia, te recomendamos que pulses el
                botón.</br></p>

              <p> Al pulsar el boton, podras agendar tu cita con alguno de nuestros psicologos, ellos atienden todos los dias,
                de est&aacute; forma, podras mejoras tu forma de vida. </p>
            </div>
            <div class="modal-footer">
              {% if (session['tipo']==3) %}
              <a class="btn btn-primary" href="{{ url_for('agcita') }}">Agendar tu cita</a>
              {%else%}
              <a class="btn btn-primary" href="{{ url_for('p_login') }}">Agendar tu cita</a>
              {%endif%}
            </div>
          </div>
        </div>
        <div></div>

      </div>
      <div class="alert alert-warning" role="alert">
        <a href="{{ url_for('informacion')}}" class="alert-link">CLIC AQUÍ</a> SI NO DESEAS REGISTRARTE
      </div>
    </div>

  </div>

  </div>
  </div>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>

  <script>
    const buttons = document.querySelectorAll('button');
    const selectedButtons = [];

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        if (button.classList.contains('selected')) {
          button.classList.remove('selected');
          const index = selectedButtons.indexOf(button.id);
          if (index > -1) {
            selectedButtons.splice(index, 1);
          }
        } else {
          button.classList.add('selected');
          selectedButtons.push(button.id);
        }
        updateCounter(selectedButtons.length);
      });
    });

    const counter = document.getElementById('counter');

    function updateCounter(count) {
      counter.innerText = `Seleccionaste ${count} botones.`;
    }



  </script>

</body>

</footer>

</html>