<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js.map') }}"></script>
  <title>Home</title>
</head>

<body>
  <center> <img src="{{ url_for('static', filename='img/niunamenos.gif') }}" alt="" class="d-block w-25"></center>
  <hr>
  <div style="background-color: #F4BEEE;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        {% if (session['tipo']==1) or (session['tipo']==3) %}
          <a class="navbar-brand" href="{{ url_for('index') }}">Inicio</a>
        {%else%}
            <a class="navbar-brand" href="{{ url_for('p_login') }}">Login</a>
            <a class="navbar-brand" href="{{ url_for('p_register') }}">Registrate</a>
        {%endif%}
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
                     
                                      
              {% if (session['tipo']==3) %}
                  <li><a class="dropdown-item" href="{{ url_for('medicos') }}">Psicologos</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('agcita') }}">Agendar</a></li>
                  
                <li><a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
    
    <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
      <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-ms-6 col-6   ">
            <img src="{{ url_for('static', filename='img/violenciafisica.gif') }}" class="w-50 ">
          </div>
          <div class="col-lg-6 col-md-6 col-ms-6 col-6  text-right  ">
            <p class="lead "><b class="dispaly-6">¡Señales Físicas!<br></b></p>
            <input type="checkbox" id="sf1" value="1">Tengo problemas para iniciar o mantener el sueño por miedo a ser maltratada.
            <br>
            <input type="checkbox" id="sf2" value="1">Mi apetito ha cambiado: se ha reducido o aumentado.
            <br>
            <input type="checkbox" id="sf3" value="1">Presento reacciones involuntarias ante muestras de afecto.
            <br>
            <input type="checkbox" id="sf4" value="1">Mis músculos normalmente duelen o están tensos.
            <br>
            <input type="checkbox" id="sf5" value="1">Amenaza con hacer daño a la victima o su entorno.
            <br>
            <br></br>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-ms-6 col-6   ">
              <img src="{{ url_for('static', filename='img/noestasola.gif') }}" class="w-50 ">
            </div>
            <div class="col-lg-6 col-md-6 col-ms-6 col-6  text-right  ">
              <p class="lead "><b class="dispaly-6">¡Señales cognitivas!<br></b></p>
              </br>
              <input type="checkbox" name="transporte" value="1">Siento miedo e inseguridad al estar en presencia de esa persona.
              <br>
              <input type="checkbox" name="transporte" value="1">Se burla de tus creencias o ideales.
              <br>
              <input type="checkbox" name="transporte" value="1">Invade tu espacio personal.
              <br>
              <input type="checkbox" name="transporte" value="1"> Te degrada continuamente.
              <br>
              <input type="checkbox" name="transporte" value="1">Ignora tus necesidades emocionales.
              <br>
              <br></br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-ms-6 col-6   ">
              <img src="{{ url_for('static', filename='img/somos.gif') }}" class="w-50 ">
            </div>
            <div class="col-lg-6 col-md-6 col-ms-6 col-6  text-right  ">
              <p class="lead "><b class="dispaly-6">¡Señales emocionales!<br></b></p>

              </br>
              <input type="checkbox" name="transporte" value="1">Tu pareja te impide hacer las cosas que te hacen sentir bien o ir a sitios que te causan genuina felicidad
              <br>
              <input type="checkbox" name="transporte" value="1">Tengo ganas de llorar y no puedo controlar el llanto.
              <br>
              <input type="checkbox" name="transporte" value="1">Siento que mi estado de ánimo depende de un hombre.
              <br>
              <input type="checkbox" name="transporte" value="1">Criticas que hacen sentirte inferior.
              <br>
              <input type="checkbox" name="transporte" value="1">Te culpa de todo lo que sucede , aunque sus razones sean incoherentes.
              <br></br>
            </div>
          </div>
        </div><br>
        <br>
        <center> <button type="button" class="btn btn-outline-primary w-25" data-bs-toggle="modal" data-bs-target="#exampleModal">Enviar</button></center>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nesecitas un psicologo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <h2>
                  NECESITAS <br>
                  UNA CONSULTA<br>
                  CON ALGUNOS DE<br>
                  NUESTROS MEDICOS <br><br><br>
                </h2></div>
                <p> Pulsa en el boton para agendar tu cita con alguno de nuestros psicologos, atienden todos los dias.</p>
            </div>
            <div class="modal-footer">
              {% if (session['tipo']==3) %}
                  <li><a class="btn btn-primary" href="{{ url_for('agcita') }}">Agendar tu cita</a></li>
              {%else%}
              <a class="btn btn-primary" href="{{ url_for('p_login') }}">Agendar tu cita</a>
              {%endif%}
            </div>
          </div>
      </div>
      <div></div>
     
    </div>
    <div class="alert alert-warning" role="alert">
      <a href="{{ url_for('informacion')}}" class="alert-link">CLIC AQUÍ</a> SI NO DESEAS REGISTRARTE
    </div>
  </div>
  
    </div>

  </div>
  </div>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</footer>

</html>