<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js.map') }}"></script>
  <title>Gestionar citas</title>
</head>

<body>
  <p class="text-uppercase display-6 text-center" style="font-family: Courier New; ">Citas agendadas</p>
  <hr>
  <div style="background-color: #F4BEEE;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Inicio</a>

        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <li><a class="dropdown-item" href="{{ url_for('cita_psico') }}">Agendar</a></li>
            <li><a class="dropdown-item" href="{{ url_for('citas') }}">Gestionar citas</a></li>

            <li><a class="dropdown-item" href="{{ url_for('medicos') }}">Psicologos</a></li>

            <li><a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
          </ul>
          </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
      <div class="container shadow-lg p-3 mb-5 bg-white rounded bg ">
        <table class="table table-hover" id="example">
          <thead class="table-light">
            <tr>
              <td>
                Código
              </td>
              <td>
                Fecha
              </td>
              <td>
                Paciente
              </td>
              <td>
                Medico
              </td>
              <td>
                Estado
              </td>
              <td>
                observaciones
              </td>
            </tr>
          </thead>
          <tbody>
            {% for cita in citas %}
            <tr>
              <td>{{cita.0}}</td>
              <td>{{cita.1}}</td>
              <td>{{cita.3}} </td>
              <td>{{cita.3}}</td>
              <td>{{cita.4}}</td>
              <td>{{cita.6}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
  </div>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</footer>

</html>