<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
  <p class="text-uppercase display-6 text-center" style="font-family: Courier New; ">Login</p>
  <hr>
  {% if msg %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <div style="background-color: #F4BEEE;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
      <a class="navbar-brand" href="{{ url_for('p_register') }}">Registrate</a>
     



    </nav>
  
     <br>
        <div class="row">
          <div class="container-sm shadow p-3 mb-5 bg-white rounded col-lg-6 col-md-3 col-ms-3 col-3   ">
            <center> <img src="{{ url_for('static', filename='img/vivas.gif') }}" class="w-25 "></center>
            <form method="POST" action="/indexpsico">


              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" name="usuariop">
                <small class="form-text text-muted">Recuerde, no compartir su Email con nadie más.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="passwordp" placeholder="" required="" />
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              
             

             <center> <input class="btn btn-outline-dark" type="submit" value="Ingresar"></center>
             <p><a href="{{ url_for('admin') }}">Administrador</p></a>
             <p><a href="{{ url_for('p_login') }}">Usuario</p></a>
            </form>
          </div>
        </div>
      </div>

</body>

</html>